body {
  background-color: aliceblue;

}

#h1{
  text-align: center;
  text-decoration: underline;
}

#table{
  background-color: bisque;
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
  
}

thead, th:nth-child(1){
  color: blue;
  text-align: center;
  text-decoration: underline;
}

 header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  margin: 0 auto;
  max-width: 60rem;
 }

 header img{
  width: 150px;
  margin: 0 auto;
 }

 caption{
  caption-side: bottom;
  text-align: left;
  
 }

