body {
  background-color: aliceblue;

}

#h1{
  text-align: center;
  text-decoration: underline wavy;
}

#table{
  border: .5px solid blue;
  text-align: center;
}

th, td{
  text-align: center;
  padding: 20px;
}

#img{
  width: 90px;
}
 #header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

 }


